/* div { position: relative; float: left; } */
img { display: block; }

#image-overlay:hover { background: red;  }
#image-overlay:hover img { opacity: 0.8; }

.cursor-hand{
    cursor: pointer;
}

.th-container {
    position: relative;
}
.overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}

.overlay.gum_problem{
    background: red;
}

.overlay.cavities{
    background: green;
}

.overlay.chipped {
    background: blue;
}

.overlay.cracked {
    background: gray;
}
