/* div { position: relative; float: left; } */

.vertical-align {
    display: flex;
    align-items: center;
}

img { display: block; }

#image-overlay:hover { background: red;  }
#image-overlay:hover img { opacity: 0.8; }

.cursor-hand{
    cursor: pointer !important;
}

.th-container {
    position: relative;
}
.overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}
.overlay-modal {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 80%;
    margin-left: 20px !important;
    margin-right: -40px !important;
    /* margin:  auto 50px !important; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    height: 100%;
    opacity: .4;
}

/* VERTICAL DEVIDER */
.navbar .divider-vertical {
    height: 40px;
    margin: 10px 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.overlay.color1, .overlay-modal.color1, .color1{
    background: #C60820 !important;
}

.overlay.color2, .overlay-modal.color2, .color2{
    background: #FAE596 !important;
}

.overlay.color3, .overlay-modal.color3, .color3{
    background: #3FB0AC !important;
}

.overlay.color4, .overlay-modal.color4, .color4{
    background: #C19434 !important;
}

.overlay.color5, .overlay-modal.color5, .color5{
    background: #CDD423 !important;
}

.overlay.color6, .overlay-modal.color6, .color6{
    background: #E05916 !important;
}

.overlay.color7, .overlay-modal.color7, .color7{
    background: #431C5D !important;
}

.overlay.color8, .overlay-modal.color8, .color8{
    background: #000000 !important;
}

.overlay.color9, .overlay-modal.color9, .color9{
    background: #F8E5E5 !important;
}

.overlay.color10, .overlay-modal.color10, .color10{
    background: #3CA956 !important;
}


.overlay.cavities, .overlay-modal.cavities{
    background: green;
}

.overlay.chipped, .overlay-modal.chipped {
    background: blue;
}

.overlay.cracked, .overlay-modal.cracked {
    background: #F0AD4E;
}


/* CUSTOM MARGIN */
.margin-top-0 {
    margin-top: 0px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

/* CUSTSOM TEXT */
.font-size-20 {
    font-size: 20px !important;
}
.font-size-15 {
    font-size: 15px !important;
}
